<div class="topnav">
    <p class="txt title outline">Daily Comics</p>
    <div class="wrapper">
        <div class="c1">
            <button mat-button onclick="window.location.href='https://github.com/KKDad/ComicCacher'">Project</button>
            <button mat-button onclick="window.location.href='docs/index.html'">API</button>                
        </div>      
        <div class="c2">
            <button mat-button [routerLink]="['/about']">About</button>
        </div>      
    </div>
</div>
<router-outlet></router-outlet>
