<div class="topnav">
    <p class="txt title">The Comic Reader</p>
    <p class="txt subtitle">Serving up Daily Laughs since 2013</p>
</div>
<div class="txt menu">
    <button mat-button onclick="window.location.href='https://bitbucket.org/kkdad/comiccacher/src/master/'">Project</button>
    <button mat-button onclick="window.location.href='docs/index.html'">API Documentation</button>        
    <button mat-button routerLink="/comics">Today's Strips</button>
    <button mat-button routerLink="/refresh">Refresh</button>
</div>
<router-outlet></router-outlet>
