/* AppComponent's private CSS styles */
mat-card { 
  margin-bottom: 10px; 
  width: 1000px;
}
.comic-header { 
  margin-bottom: 10px; 
  width: 1000px;
  align-content: center;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 50px;
}