.topnav {
  background-color: #58772b;
  color: #f1f1f1;
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: inline-block
}

.menu {
  background-color: #748f4b;
  color: #f1f1f1;
  width: 100%;
  padding: 3px;
  margin: 0;
  position: relative;
  top: 93px; 
}

.title {
  margin: 0px;  
  text-align: center;
  font-size: 3.35169rem;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-inline-start: 180px;  
  text-align: center;  
}

.txt {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

button {
  margin: 4px;
}