.topnav {
  background: url(/assets/images/moss.png) no-repeat;
  background-color: #58772b;
  color: #ebebeb;
  width: 100%;
  padding: 0;
  margin: 5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: inline-block;  
  box-shadow: inset 25px 25px 25px 25px #58772b; 
}

.menu {
  background-color: #58772b;
  color: #f1f1f1;
  width: 100%;
  padding: 3px;
  margin: 0;
  position: relative;
  top: 93px; 
}

.outline {
  margin: 0px;  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #59772b83; 
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0px;
  font-kerning: none;
  font-weight: 900;
}

.title {
  text-align: center;
  font-size: 72px;
  line-height: 48.3px; 
}

.subtitle {
  margin-bottom: 10px;
  margin-inline-start: 180px;  
  font-size: 30px;
  text-align: center;  
}

.txt {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin: 4px;
}