/* .container {
    margin: auto;
    padding: 10px;    
}
.left {    
    float: left;
    padding: 10px;
    outline: 1px dashed red;
}
.right {    
    position: sticky;    
    padding: 10px;
    height: 200px;
} */